<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .contain .inner{
            width: 1200px;
            background: pink;

        }
        .contain .inner p{
            color: #000;
            font-size: 15px;

        }
    </style>
</head>
<body>
     <div class="contain">
         <div class="inner">
            <p>3ououououou0u</p>
            <p>3ououououou0u</p>
            <p>3ououououou0u</p>
            <p>3ououououou0u</p>
         </div>
     </div>
</body>
</html>