html, body {
   font-family: PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica, Arial, monospace, serif;
}

.c-fff {
   color: #fff;
}

.c-l-gray {
   color: #C7D1D9;
}

.c-d-gray {
   color: #77838F;
}

.c-gray-b {
   color: #B9C9D6;
}

.c-gray-9 {
   color: #93A4B2;
}

.c-blue {
   color: #01B2D6;
}

.c-l-black {
   color: #1A232B;
}

.c-d-black {
   color: #304454;
}

.f-48 {
   font-size: 48px;
}

.f-36 {
   font-size: 36px;
}

.f-30 {
   font-size: 30px;
}

.f-28 {
   font-size: 28px;
}

.f-24 {
   font-size: 24px;
}

.f-20 {
   font-size: 20px;
}

.f-18 {
   font-size: 18px;
}

.f-16 {
   font-size: 16px;
}

.f-14 {
   font-size: 14px;
}

.f-12 {
   font-size: 12px;
}

.f-w {
   font-weight: bolder;
}

.f-w-5 {
   font-weight: 500;
}

.f-w-6 {
   font-weight: 600;
}

.bgc1 {
   background-color: #151D24;
}

.bgc2 {
   background-color: #12191F;
}

.bgc3 {
   background-color: #1A232B;
}

.bgc4 {
   background-color: #F8F9FA;
}

.bgc-fff {
   background-color: #fff;
}

.bgc-blue {
   background-color: #01B2D6;
}

.bgc-031419 {
   background-color: #031419;
}

.button {
   padding: 12px 27px;
}

.br-4 {
   border-radius: 4px;
}

.br-8 {
   border-radius: 8px;
}

.t-l {
   text-align: left;
}

.t-c {
   text-align: center;
}

.t-r {
   text-align: right;
}

.d-ib {
   display: inline-block;
}

.d-f {
   display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
   display: -moz-box; /* Firefox 17- */
   display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
   display: -moz-flex; /* Firefox 18+ */
   display: -ms-flexbox; /* IE 10 */
   display: flex;
}