.wrapper .container {
  min-height: 790px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form {
  /*margin-top: 100px;*/
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta {
  margin-top: 40px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login a {
  font-weight: lighter;
}
.form-group label.error{display:block;position: absolute;left:0px;top:53px;color: #E30000;font-size:12px;}
.wrapper .container .content .tab-content .content-common .register-content .welcome p{font-size: 14px;color: #666;margin-top: 15px;}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group input.responsePhone{color: gray;}