.wrapper .container {
  background-color: #e9ebf1;
}
.wrapper .container .banner {
  position: relative;
}
.wrapper .container .banner .swiper-container .swiper-wrapper img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.wrapper .container .banner .swiper-container .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: rgba(255, 255, 255, 0.58) !important;
}
.wrapper .container .banner .swiper-container .swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.wrapper .container .banner .swiper-container .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.wrapper .container .banner .swiper-container .swiper-pagination-bullet-active-prev,
.wrapper .container .banner .swiper-container .swiper-pagination-bullet-active-next-next,
.wrapper .container .banner .swiper-container .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.wrapper .container .announcement {
  height: 103px;
  background-color: #19243a;
}
.wrapper .container .announcement .content {
  width: 1200px;
}
.wrapper .container .announcement .content .news {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 37px 20px 39px;
  cursor: pointer;
}
.wrapper .container .announcement .content .quote ul li {
  float: left;
  width: 300px;
  padding-left: 20px;
  border-left: dashed 1px #398d8c;
}
.wrapper .container .announcement .content .quote ul li:last-child {
  border-right: dashed 1px #398d8c;
}
.wrapper .container .announcement .content .quote ul li p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
}
.wrapper .container .announcement .content .quote ul li h4 {
  font-size: 28px;
  letter-spacing: 2px;
}
.wrapper .container .announcement .content .quote ul li .lightBlue {
  color: #00bdff;
}
.wrapper .container .announcement .content .quote ul li .lightGreen {
  color: #00fffc;
}
.wrapper .container .REAL-TIME .content,
.wrapper .container .sico .content,
.wrapper .container .token .content,
.wrapper .container .features .content,
.wrapper .container .holding .content,
.wrapper .container .download .content {
  width: 1200px;
  text-align: left;
}
.wrapper .container .REAL-TIME .content h3,
.wrapper .container .sico .content h3,
.wrapper .container .token .content h3,
.wrapper .container .features .content h3,
.wrapper .container .holding .content h3,
.wrapper .container .download .content h3 {
  font-size: 34px;
  color: #00d6ff;
  text-align: left;
}
.wrapper .container .REAL-TIME .content h4,
.wrapper .container .sico .content h4,
.wrapper .container .token .content h4,
.wrapper .container .features .content h4,
.wrapper .container .holding .content h4,
.wrapper .container .download .content h4 {
  font-size: 30px;
  color: #00d6ff;
  text-align: left;
}
.wrapper .container .REAL-TIME .content .right-img,
.wrapper .container .sico .content .right-img,
.wrapper .container .token .content .right-img,
.wrapper .container .features .content .right-img,
.wrapper .container .holding .content .right-img,
.wrapper .container .download .content .right-img,
.wrapper .container .REAL-TIME .content .content-right,
.wrapper .container .sico .content .content-right,
.wrapper .container .token .content .content-right,
.wrapper .container .features .content .content-right,
.wrapper .container .holding .content .content-right,
.wrapper .container .download .content .content-right {
  float: right;
}
.wrapper .container .REAL-TIME .content .left-img,
.wrapper .container .sico .content .left-img,
.wrapper .container .token .content .left-img,
.wrapper .container .features .content .left-img,
.wrapper .container .holding .content .left-img,
.wrapper .container .download .content .left-img,
.wrapper .container .REAL-TIME .content .content-left,
.wrapper .container .sico .content .content-left,
.wrapper .container .token .content .content-left,
.wrapper .container .features .content .content-left,
.wrapper .container .holding .content .content-left,
.wrapper .container .download .content .content-left {
  float: left;
}
.wrapper .container .REAL-TIME {
  background: url("../../images_new/realtimebg.png");
  height: 573px;
}
.wrapper .container .REAL-TIME .content-left {
  display: inline-block;
  width: 728px;
}
.wrapper .container .REAL-TIME .content-left h3 {
  font-family: PingFangSC-Semibold;
  padding-top: 70px;
  margin-bottom: 73px;
}
.wrapper .container .REAL-TIME .content-left div,
.wrapper .container .REAL-TIME .content-left p {
  font-family: PingFangSC-Light;
  font-size: 22px;
  line-height: 46px;
  color: #ffffff;
  margin: 0 auto;
  text-align: left;
}
.wrapper .container .REAL-TIME .content-left p {
  margin-top: 45px;
}
.wrapper .container .REAL-TIME .right-img {
  margin-top: 136px;
}
.wrapper .container .sico {
  background: url("../../images_new/sicobg.png");
  height: 795px;
}
.wrapper .container .sico .content .content-right {
  display: inline-block;
  width: 635px;
  padding-top: 75px;
}
.wrapper .container .sico .content .content-right .sico-up,
.wrapper .container .sico .content .content-right .sico-down {
  height: 325px;
  text-align: left;
}
.wrapper .container .sico .content .content-right .sico-up h4,
.wrapper .container .sico .content .content-right .sico-down h4 {
  font-family: PingFangSC-Regular;
  color: #00d6ff;
}
.wrapper .container .sico .content .content-right .sico-up p,
.wrapper .container .sico .content .content-right .sico-down p {
  max-width: 718px;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 5px;
}
.wrapper .container .sico .content .content-right .sico-up ol,
.wrapper .container .sico .content .content-right .sico-down ol {
  margin-top: 10px;
}
.wrapper .container .sico .content .content-right .sico-up ol li,
.wrapper .container .sico .content .content-right .sico-down ol li {
  font-family: PingFangSC-Regular;
  font-size: 22px;
  color: #3ff1ff;
}
.wrapper .container .token {
  background: url("../../images_new/TEMS_bg.png");
  height: 600px;
  padding-top: 60px;
}
.wrapper .container .token h3 {
  font-family: PingFangSC-Medium;
}
.wrapper .container .token .content-bottom {
  width: 1042px;
  margin-top: 10px;
}
.wrapper .container .token .content-bottom div {
  display: inline-block;
}
.wrapper .container .token .content-bottom div article {
  width: 730px;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 50px;
}
.wrapper .container .token .content-bottom img {
  margin-top: 54px;
}
.wrapper .container .features {
  height: 1387px;
  background-color: #2b3457;
}
.wrapper .container .features h3 {
  padding-top: 90px;
  font-family: PingFangSC-Semibold;
  margin-bottom: 100px;
  text-align: center !important;
}
.wrapper .container .features .features-box {
  height: 379px;
}
.wrapper .container .features .features-box .right-img,
.wrapper .container .features .features-box .content-right {
  max-width: 783px;
}
.wrapper .container .features .features-box img {
  margin-top: 35px;
}
.wrapper .container .features .features-box .content-left,
.wrapper .container .features .features-box .content-right {
  margin-top: 42px;
}
.wrapper .container .features .features-box .content-left h4,
.wrapper .container .features .features-box .content-right h4 {
  font-size: 20px;
  font-family: PingFangSC-Regular;
  line-height: 60px;
  color: #3ee8e7;
}
.wrapper .container .features .features-box .content-left p,
.wrapper .container .features .features-box .content-right p {
  font-family: PingFangSC-Light;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 50px;
}
.wrapper .container .features .features-box .content-left div,
.wrapper .container .features .features-box .content-right div {
  font-family: PingFangSC-Light;
  max-width: 783px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  margin-top: 32px;
}
.wrapper .container .features .features-box .content-left .green-color,
.wrapper .container .features .features-box .content-right .green-color {
  color: #00ffb5;
}
.wrapper .container .features .features-box .content-left .blue-color,
.wrapper .container .features .features-box .content-right .blue-color {
  color: #0094ff;
}
.wrapper .container .features .features-box .content-left .light-color,
.wrapper .container .features .features-box .content-right .light-color {
  color: #00fffc;
}
.wrapper .container .features .features-box #features_two {
  margin-top: 100px;
}
.wrapper .container .features .features-box #features_three {
  margin-top: 110px;
}
.wrapper .container .holding {
  background: url("../../images_new/Dividend_bg.png");
  height: 754px;
}
.wrapper .container .holding .content-left {
  width: 780px;
}
.wrapper .container .holding .content-left h3 {
  width: 900px;
  font-family: PingFangSC-Medium;
  color: #00d6ff;
  padding-top: 80px;
  margin-bottom: 100px;
}
.wrapper .container .holding .content-left p {
  font-family: PingFangSC-Light;
  font-size: 22px;
  line-height: 46px;
  color: #ffffff;
  margin: 0 auto 41px;
  text-align: left;
}
.wrapper .container .download {
  height: 526px;
  background-color: #fff;
}
.wrapper .container .download .content {
  position: relative;
}
.wrapper .container .download .content .content-left img {
  vertical-align: bottom;
  margin-top: 135px;
}
.wrapper .container .download .content .content-left .iphone {
  position: absolute;
  top: 94px;
  left: 371px;
}
.wrapper .container .download .content .content-right h5 {
  margin-top: 130px;
  font-size: 28px;
  line-height: 48px;
  color: #465387;
}
.wrapper .container .download .content .content-right p {
  font-size: 18px;
  color: #465387;
}
.wrapper .container .download .content .content-right button {
  position: relative;
  width: 184px;
  height: 50px;
  border-radius: 25px;
  border: solid 2px #465387;
  font-size: 22px;
  color: #465387;
  background-color: #fff;
}
.wrapper .container .download .content .content-right button i {
  font-size: 23px;
  margin-right: 17px;
  color: #465387;
}
.wrapper .container .download .content .content-right button .QR-code {
  position: absolute;
  bottom: 60px;
  left: 32px;
  width: 120px;
  height: 120px;
  border: solid 1px #465387;
  display: none;
}
.wrapper .container .download .content .content-right button .QR-code:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 53px;
  height: 10px;
  width: 10px;
  border: 1px solid;
  border-color: transparent #465387 #465387 transparent;
  transform: rotate(45deg);
}
.wrapper .container .download .content .content-right button:hover {
  background-color: #465387;
  color: #fff;
}
.wrapper .container .download .content .content-right button:hover i {
  color: #fff;
}
.wrapper .container .download .content .content-right button:hover .QR-code {
  display: block;
}
.wrapper .container .download .content .content-right .first {
  margin-right: 76px;
  cursor: default;
}
.alert {
  width: 594px;
  height: 262px;
  text-align: center;
  background-color: #262b41;
  color: #fff;
  z-index: 20;
}
.alert .title {
  margin-top: 40px;
}
.alert .iconfont {
  font-size: 30px;
  color: #ffb800;
}
.alert .notice {
  padding: 30px 60px 40px;
}
.alert button {
  width: 130px;
  height: 38px;
  background-color: #5a6db2;
  font-size: 18px;
  color: #ffffff;
}
body {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
