.banner {
    background: url(../../../../static/web/images_new/invitationProgram/invite_bg.png) no-repeat 50%/cover;
    background-size: cover;
    height: 433px;
    width:100%;
    min-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-seconds{
    background: url(../../../../static/web/images_new/invitationProgram/Certification_bg.png) no-repeat 50%/cover;
}
.title{
    font-family:ArialMT;
    font-size: 32px;
    color:#00CCFF;
    margin-left:400px;
}
.cost{
    font-family:ArialMT;
    font-size: 29px;
    color:#fff;
    margin-left:400px;
}
.ff{
    font-size: 38px;
}
/* mian */
.main_box{
    background:#e3e3e3;
    padding-top:15px;
    padding-bottom:15px;
}
.main{
    width:1202px;
    height: 489px;
    margin: 0 auto;
    background: #fff;
}
.main .header{
    height:50px;
    border-bottom:1px solid #d9d9d9;
    font-size:16px;
    color:#5A6CB1;
    line-height: 50px;
    padding-left:20px;
}
.main:last-child{
    margin-top:15px;
    height: auto;

}
.invitation_ul{
    display: flex;
    padding:58px 180px 0px;
    justify-content: space-around;
}
.invitation_ul li{
    width:224px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.addLine:after{
    content:'';
    position: absolute;
    top:50px;
    left:170px;
    display:block;
    width:167px;
    height:0px;
    border-bottom:1px dashed orange;
}
.invitationStep{
    font-family: PingFangSC-Semibold;
    margin-top:58px;
    color:#333;
    font-size:16px;
    text-align: center;
}
.gotoBtn{
    display: block;
    width:227px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #5a6cb1;
    color:#fff;
    border-radius: 4px;
    margin: 0 auto;
    margin-top:70px;
}
.details_box{
    padding:30px 21px;
}
.details_box .detailsTxt{
    font-size:14px;
    line-height: 32px;
    color:#333;
    font-family:PingFangSC-Regular;
}