.wrapper {
  height: 100%;
}
.wrapper a {
  /*color: #5A6CB1;*/
}
.big-container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  display: flex;
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -ms-flexbox;/*-ie10*/
  /*display: -moz-box;!*firexbox*!*/
  flex-direction: column;
}

.wrapper .container {
  position: relative;
  width: 100%;
  background: url("../../images_new/bg-b@2x.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 162px;
  flex: 1;
  -ms-flex: 1;/*ie10*/
  -webkit-flex: 1;
  -moz-box-flex: 1;
}
.wrapper .container .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper .container .content .tab-content {
  width: inherit;
  height: 740px;
  background: url("../../images_new/bg-l@2x.png");
}
.wrapper .container .content .tab-content .content-common {
  padding-top: 50px;
}
.wrapper .container .content .tab-content .content-common .register-content {
  width: 580px;
  margin: 0 auto;
}
.wrapper .container .content .tab-content .content-common .register-content .welcome {
  font-family: HiraginoSansGB-W6;
  font-size: 36px;
  letter-spacing: 1px;
  color: #5a6cb1;
  text-align: center;
  margin-top: 46px;
  margin-bottom: 86px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group {
  position: relative;
  width: inherit;
  margin-top: 30px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .left-icon {
  left: 14px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .right-icon {
  right: 14px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .country-tel .country-tel-code {
  position: absolute;
  top: 0;
  left: 54px;
  width: 76px;
  height: 48px;
  line-height: 48px;
  border-right: solid 1px #BDC4E1;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .country-tel .country-tel-code .country-link {
  color: #5A6CB1;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group input {
  width: 580px;
  height: 48px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  border: solid 1px #BDC4E1;
  padding-left: 54px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group input:nth-child(3) {
  padding-left: 143px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .iconfont {
  right: 14px;
  color: #5A6CB1;
}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group button {
  position: absolute;
  top: 0;
  right: 0;
  width: 112px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  font-weight: lighter;
  background-color: #5A6CB1;
  letter-spacing: 1px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .btn-same {
  width: 580px;
  height: 48px;
  font-size: 16px;
  background-color: #5A6CB1;
  color: #fff;
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login {
  margin-top: 10px;
  letter-spacing: 1px;
}
.wrapper .component_tips {
  position: absolute;
  font-size: 12px;
  color: #e30000;
}
