.wrapper .container {
  min-height: 790px;
}
.wrapper{
  height:auto !important;
}
.wrapper .container .content .tab-content .content-common .register-content .slide {
  position: relative;
  width: 100%;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #bdc4e1;
  margin-top: 30px;
}
.wrapper .container .content .tab-content .content-common .register-content .slide .drag_bg {
  background-color: #5a6cb1;
  height: 46px;
  width: 0;
  opacity: 0.3;
}
.wrapper .container .content .tab-content .content-common .register-content .slide .handler {
  position: absolute;
  top: 0;
  width: 70px;
  height: 46px;
  line-height: 46px;
  background-color: #8d9ace;
  text-align: center;
  color: #fff;
  z-index: 2;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper .container .content .tab-content .content-common .register-content .slide .handler .tick {
  background-color: #fff;
  border-radius: 50%;
  color: #76c61d;
}
.wrapper .container .content .tab-content .content-common .register-content .slide .drag_text {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #5a6cb1;
  text-align: center;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper .container .content .tab-content .content-common .register-content .slide .animated {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #5a6cb1), color-stop(0.4, lightgreen), color-stop(0.5, lightpink), color-stop(0.6, #5a6cb1), color-stop(1, #5a6cb1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 3s infinite;
  -webkit-text-size-adjust: none;
}
@keyframes slidetounlock {
  0% {
    background-position: -150px 0;
  }
  100% {
    background-position: 150px 0;
  }
}
.wrapper .container .content .tab-content .content-common .register-content .slide .dis-n {
  display: none;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta {
  margin-top: 30px;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-between;
}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login a {
  font-weight: lighter;
}
.form-group label.error{display:block;position: absolute;left:0px;top:53px;color: #E30000;font-size:12px;}
a[name='dlForgot'],a[name='dlSignup']{color:#5A6CB1;}
.phone-55-logo{display: none;}
#captcha{margin-top: 30px;}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .gray{
  background-color: #d8d8d8;
}