.wrapper .container {
  width: 100%;
  min-width: 1200px;
  background-color: #e9ebf1;
}
.wrapper .container .box-title {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-left: 30px;
  text-align: left;
}
.wrapper .container .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper .container .content .container-title {
  color: #353948;
  padding-top: 13px;
  margin-bottom: 16px;
}
.wrapper .container .content .main {
  width: 100%;
  height: 188px;
  background-color: #fff;
}
.wrapper .container .content .main .introduction {
  position: relative;
  padding: 29px 31px 27px;
}
.wrapper .container .content .main .introduction .ranking {
  position: absolute;
  top: 14px;
  right: 28px;
  width: 67px;
  height: 52px;
}
.wrapper .container .content .main .introduction .pic-logo {
  vertical-align: top;
  max-width: 126px;
}
.pic-logo-container{
  display: flex;
  float: left;
  width: 126px;
  height:126px;
  justify-content: center;
  align-items: center;
  border:1px solid #F8F8F8;
}
.wrapper .container .content .main .introduction .item-right {
  display: inline-block;
  margin-left: 33px;
  color: #353948;
}
.wrapper .container .content .main .introduction .item-right h4 {
  font-size: 18px;
}
.wrapper .container .content .main .introduction .item-right p {
  margin-top: 12px;
  max-width: 960px;
  font-weight: lighter;
  height:100px;
  overflow: hidden;
}
.wrapper .container .content .content-common {
  width: 1200px;
  margin-top: 15px;
  background-color: #fff;
}
.wrapper .container .content .content-common .list {
  width: 1200px;
  padding: 36px 7px 10px;
  
}
#sponsored-template-content .central-location{
  height: 194px;
  overflow: hidden;
}
.wrapper .container .content .content-common .list .item {
  float: left;
  width: 25%;
  margin-bottom: 26px;
  text-align: center;
}
.wrapper .container .content .content-common .list .item .item-pic {
  display: block;
  margin: 0 auto;
}
.wrapper .container .content .middle .box-title {
  position: relative;
}
.wrapper .container .content .middle .box-title a {
  position: absolute;
  right: 22px;
  font-weight: lighter;
  font-size: 14px;
  color: #666;
  letter-spacing: 1px;
}
.wrapper .container .content .social {
  margin-top: 15px;
  background-color: #fff;
}
.wrapper .container .content .social .tab-panel {
  height: 50px;
  padding-left: 30px;
}
.wrapper .container .content .social .tab-panel a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #353948;
  margin-right: 180px;
}
.wrapper .container .content .social .tab-panel .active {
  color: #5A6CB1;
}
.wrapper .container .content .social .tab-content .content-common .list .item {
  position: relative;
  height: 204px;
  padding: 25px;
  border-bottom: solid 1px #ccc;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-pic {
  float: left;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right {
  position: relative;
  float: right;
  height: 154px;
  max-width: 921px;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right h3 {
  font-size: 16px;
  color: #353948;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right p {
  margin-top: 5px;
  font-weight: lighter;
  cursor: pointer;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right div {
  position: absolute;
  bottom: 3px;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right div img {
  vertical-align: top;
}
.wrapper .container .content .social .tab-content .content-common .list .item .item-right div span {
  margin-left: 13px;
  font-size: 12px;
  color: #666;
  font-weight: lighter;
}
.wrapper .container .content .team .desc {
  width: 244px;
  height: 81px;
  background-color: #F0F2F7;
  margin: 0 auto;
}
.wrapper .container .content .team .desc .name {
  font-size: 16px;
  color: #353948;
  padding-top: 16px;
}
.wrapper .container .content .team .desc .position {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
}
.wrapper .container .content .contact .list {
  padding: 36px 67px 10px;
}
.wrapper .container .content .contact .list .item {
  width: 12.5%;
}
.sponsored-item-pic{
  width: 268px;
  height: 150px
}
.listed-item-pic{
  width: 268px;
}
.team-item-pic{
  width: 244px;
}
.more{
  display: inline-block;
   float: right;
  margin-right: 20px;
}
.wrapper .container .content .middle .box-title .more a{
  position: initial;

}
.wrapper .container .content .middle .box-title .more a.foldMore{
  display: none;
}