.wrapper em {
  font-style: normal;
}
.wrapper .center-img {
  vertical-align: top;
}
.wrapper .container {
  background-color: #e9ebf1;
  padding-bottom: 177px;
}
.wrapper .container .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper .container .content .account {
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  padding-bottom: 15px;
}
.wrapper .container .content .account .account-box {
  padding-bottom: 30px;
}
.wrapper .container .content .account .account-box .content-common {
  padding: 0 20px;
}
.wrapper .container .content .account .account-box .content-common .content-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #ddd;
}
.wrapper .container .content .account .account-box .content-common .content-header .box-title {
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box {
  position: absolute;
  right: 0;
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box .search {
  width: 280px;
  height: 29px;
  padding-left: 36px;
  border-radius: 14px;
  font-weight: lighter;
  border: solid 1px #ccc;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box .search:focus {
  border-color: #5a6cb1;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box i {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 16px;
  color: #ccc;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box {
  text-align: left;
  font-size: 12px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box tr {
  border-bottom: solid 1px #ddd;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th {
  height: 36px;
  line-height: 36px;
  color: #888;
  font-weight: normal;
  text-align: center;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:hover i {
  color: #8d9ace;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th i {
  font-size: 20px;
  color: #aaa;
  vertical-align: middle;
  margin-left: 5px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:first-child {
  text-align: left;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child {
  text-align: right;
  line-height: 18px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child span {
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child em {
  font-size: 12px;
  color: #bbb;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child i {
  float: right;
  margin-top: 10px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td {
  height: 106px;
  color: #333;
  text-align: center;
}
/*.sponsor-logo-img{*/
  /*width:83px;*/
  /*height:83px;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/
.sponsor-logo-img{
  display: flex;
  float: left;
  width: 83px;
  height:83px;
  justify-content: center;
  align-items: center;
  border:1px solid #f8f8f8;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .img-logo {
  float: left;
  max-width: 83px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .sponsor {
  height: 84px;
  float: left;
  width: 310px;
  /*line-height:84px;*/
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .sponsor .sponsor-name {
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 20px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .sponsor .sponsor-desc {
  max-width: 313px;
  color: #888;
  line-height: 18px;
  height:38px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
  margin-left:5px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:first-child {
  text-align: left;
  width:400px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:last-child {
  padding-right: 5px;
  text-align: right;
  width: 183px;
  overflow: hidden
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:last-child img {
  margin-right: 5px;
  width: 28px;
  height: 28px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box .level-box,
.wrapper .container .content .account .account-box .content-common .account-content .table-box .projects-box {
  position: relative;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box .level-box .level-num,
.wrapper .container .content .account .account-box .content-common .account-content .table-box .projects-box .level-num {
  top: 41px;
  color: #fff;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box .projects-box .projects-ball {
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #e9ebf1;
}
/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: #333;
}
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: #333;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: #333;
}
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: #333;
}
.wrapper{
  height: 100%;
  background-color: #e9ebf1;
  position: relative;
  min-height: 100%;
}
.container{
  height: 100%;
}
.setPageDiv{float: right;margin-top: 10px;}
.setPageDiv .Pagination ul li{
  float: left;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.Pagination a{display: inline-block;margin-left: 19px;}
.Pagination a.prev{}
.Pagination span.active{display: inline-block;margin-left: 19px;width:20px;height: 20px;background: #5A6CB1;text-align: center;line-height: 20px;color: #fff;border-radius: 50%;}
.phone_wrapper{
  width: 100%;
  background: #e9ebf1;
  padding-bottom: 177px;
  overflow: hidden;

}
.big-container{
  min-height: 100%;
  height: auto !important;
  position: relative;
}
.jumpPage{
  display: block;
}
.jump-button{
  display: inline-block;
  float: right;

}
.jump-button button{
  width:154px;
  height:31px;
  border-radius: 4px;
  line-height:31px;
  color: #fff;
  font-size:10px;
  text-align: left;
  padding-left:5px;
  background:#5A6CB1 url("/static/web/img/apply.png") no-repeat right 5px center;
}