.wrapper em {
  font-style: normal;
}
.wrapper .center-img {
  vertical-align: top;
}
.wrapper .container {
  background-color: #e9ebf1;
}
.wrapper .container .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper .container .content .account {
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  padding-bottom: 15px;
}
.wrapper .container .content .account .account-box {
  padding-bottom: 30px;
}
.wrapper .container .content .account .account-box .content-common {
  padding: 0 20px;
}
.wrapper .container .content .account .account-box .content-common .content-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #ddd;
}
.wrapper .container .content .account .account-box .content-common .content-header .box-title {
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box {
  position: absolute;
  right: 0;
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box .search {
  width: 280px;
  height: 29px;
  padding-left: 36px;
  border-radius: 14px;
  font-weight: lighter;
  border: solid 1px #ccc;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box .search:focus {
  border-color: #5a6cb1;
}
.wrapper .container .content .account .account-box .content-common .content-header .input-box i {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 16px;
  color: #ccc;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box {
  text-align: left;
  font-size: 12px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box tr {
  border-bottom: solid 1px #ddd;
  cursor: pointer;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th {
  height: 36px;
  line-height: 36px;
  color: #888;
  font-weight: normal;
  text-align: center;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:nth-child(1){
  text-align: left;
  width: 16%;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:nth-child(2){
  text-align: left;
  width: 10%;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:hover i {
  color: #8d9ace;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th i {
  font-size: 20px;
  color: #aaa;
  vertical-align: middle;
  margin-left: 5px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child {
  text-align: right;
  line-height: 18px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child span {
  display: inline-block;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child em {
  font-size: 12px;
  color: #bbb;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box th:last-child i {
  float: right;
  margin-top: 10px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td {
  height: 76px;
  color: #333;
  text-align: center;
  /*padding-right: 60px;*/
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:nth-child(1){
  text-align: left;
  width: 16%;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:nth-child(2){
  text-align: left;
  width: 10%;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .img-logo {
  float: left;
  max-width: 52px;
}
.img-logo-container{
  display: flex;
  float: left;
  width: 54px;
  height:54px;
  justify-content: center;
  align-items: center;

}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td .icon-name {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  font-weight: bold;
  margin-left:10px;
}
.wrapper .container .content .account .account-box .content-common .account-content .table-box td:last-child {
  padding-right: 5px;
  text-align: right;
}
/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: #333;
}
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: #333;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: #333;
}
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: #333;
}
.wrapper{
  height: 100%
}
.phone_wrapper{
  width: 100%;
  height: 100%;
  background: #e9ebf1;
  padding-bottom: 177px;
  overflow: hidden;

}
.big-container{
  min-height: 100%;
  height: auto !important;
  position: relative;
  background-color: #e9ebf1;
}
.setPageDiv{float: right;margin-top: 10px;}
.setPageDiv .Pagination ul li{
  float: left;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.Pagination a{display: inline-block;margin-left: 19px;}
.Pagination a.prev{}
.Pagination span.active{display: inline-block;margin-left: 19px;width:20px;height: 20px;background: #5A6CB1;text-align: center;line-height: 20px;color: #fff;border-radius: 50%;}
.jump-button{
  display: inline-block;
  float: right;
}
.jump-button span{
  height:31px;
  border-radius: 4px;
  line-height:31px;
  color: #fff;
  font-size:10px;
  text-align: right;
  padding-right:10px;
  padding-left: 25px;
  display: inline-block;
  background:#5A6CB1 url("/static/web/img/add.png") no-repeat left 10px center;
}
.supervision-banner{
  width:100%;
  height: 290px;
  background:#181B2B url("/static/web/img/supervsion-banner.png") no-repeat;
  background-size: cover;
}
.banner-inner{
  width: 1200px;
  margin:0 auto;
  height: 100%;
  text-align: center;
}
.banner-inner div.baner-title{
  color: #0096FF;
  display: inline-block;
  font-size:46px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.banner-inner>div{
  text-align: left;
}
.banner-inner>div p{
  color: #fff;
  font-size:14px;
}
.baner-left{
  float: left;
  margin-left: 60px;
}
.baner-right{
  float: right;
  margin-right: 60px;
}
.banner-inner>div p em{
display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 6px;
}
.banner-inner>div p em img{
  width: 18px;
  height: 18px;
}
