.chart-page{
    background: #132029;
}
.chart-page .loading-indicator{
    background-color:#132029;
}
.chart-page .drawingToolbar-2CoOuCv8-{
    /* 左侧菜单 */
    background: none;
}
.separator-3cgsM4c1-{
    /* 左侧菜单分割线 */
    background: #202E36;
}

.scrollBot-1mx_BeXt-, .scrollTop-2G6k9HF0-{
    /* 左侧菜单箭头 */
    background: #1E2C34;
}
.chart-page .layout__area--top .header-chart-panel-sizer .header-chart-panel-content .left .group .button{
    background:#132029;
    border:0;
    color: #626F77;
}
.chart-page .layout__area--top .header-chart-panel-sizer .header-chart-panel-content .left .group .button span{
    font-weight: 100 !important;
}
.chart-page .layout__area--top .header-chart-panel-sizer .header-chart-panel-content .left .header-group-properties{
    float:right;
}
.chart-page .layout__area--top .header-chart-panel-sizer .header-chart-panel-content .left .header-group-indicators{
    float:right;
}
.chart-page .layout__area--top .header-chart-panel-sizer .header-chart-panel-content .left .header-group-fullscreen{
    float:right;
}
.chart-page .header-chart-panel .group .button{
    padding:5px 5px;
}
.chart-top-toolbar .space-single, .header-chart-panel .space-single{
    padding:0;
}
.chart-page .header-chart-panel .group .button.selected{
    background: #1c2c37 !important;
    color: #96B1C3 !important;
}
.chart-page .header-chart-panel .group .button:hover::before{
    border: none !important;
}
.chart-page .header-chart-panel .group .button:hover{
    color: #96B1C3 !important;
}
.chart-page .chart-controls-bar{
    background: #132029;
}
.chart-page .chart-container{
    border: 0;
}
#loading-indicator{
    background: #132029 !important;
}
.chart-page .date-range-wrapper{
    display:none;
}