/* reset */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    word-wrap: break-word;
    line-height: 1.5;
    /* font-family: HiraginoSansGB-W3, 'microsoft yahei', 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', simsun, sans-serif; */
    font-size: 14px;
    color: #333;
}


html,body,div,span,em,a,p,h1, h2, h3, h4, h5, h6,table,tr,td,ol,dl,dt,dd,ul,li,button,select,input{
    font-family:'helvetica','Microsoft YaHei','PingFang SC';
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, iconp, ul, ol, dl, dd, figure, menu, input, textarea, button, select, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, address, em {
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}

button {
    font-size: inherit;
    outline: none !important;
    border: none;
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none !important;
}

/*在firefox下框线*/
input::-moz-focus-outer {
    outline: none;
    border: none;
}

a, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

a {
    font-size: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
}

i {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

textarea {
    resize: vertical;
}

mark {
    background-color: transparent;
}

@font-face {
    font-family: 'iconfont';  /* project id 596078 */
    src: url('//at.alicdn.com/t/font_596078_9phcslhf90f.eot');
    src: url('//at.alicdn.com/t/font_596078_9phcslhf90f.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_596078_9phcslhf90f.woff') format('woff'),
    url('//at.alicdn.com/t/font_596078_9phcslhf90f.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_596078_9phcslhf90f.svg#iconfont') format('svg');
}

.dis-n {
    display: none;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 15;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    z-index: 20;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.white-color {
    color: #fff;
}

.gray-color {
    color: #353948;
}

.color333 {
    color: #333;
}

.color666 {
    color: #666;
}

.color-aaa {
    color: #aaa;
}

.color-blue {
    color: #8D9ACE;
}

.black {
    color: #26252D;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.green {
    color: #27a781 !important;
}

.red {
    color: #DC382C !important;
}

.success-green{
    color: #42c289 !important;
}

.line {
    width: 100%;
    height: 0;
    border-bottom: solid 1px #D1D7EF;
}

.wrapper {
    width: 100%;
    /*min-height: 100%;*/
    /*_height: 100%;*/
}

.container {
    width: 100%;
    min-width: 1200px;
}

.container .content {
    width: 1200px;
    margin: 0 auto;
}

/*单行文字两端对齐 但不支持动态写入的文字*/
.text-justify {
    text-align: justify;
    text-justify: distribute-all-lines;
    -ms-text-align-last: justify;
    text-align-last: justify;
}

.central-location {
    margin-left: auto;
    margin-right: auto;
}

.horizontally-centered {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vertically-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-level {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.item-title {
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
}

.item-title-list {
    height: 37px;
    line-height: 37px;
    font-size: 12px;
}

/*弹性布局容器两端对齐*/
.space-between {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

/*去掉数字框默认样式*/
input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="password"]::-ms-clear, ::-ms-reveal {
    display: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder {
    color: transparent;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
    color: transparent;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
    color: transparent;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/*设置溢出滚动条样式*/
::-webkit-scrollbar {
    width: 0;
    /* 不给背景色不会影响数据多少的样式*/
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.a-flyTopIn {
    -webkit-animation: flyTopIn 1s ease;
    -o-animation: flyTopIn 1s ease;
    animation: flyTopIn 1s ease;
}


@-moz-document url-prefix(http://),url-prefix(https://) {
    /* 滚动条颜色 */
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    /* 滚动条按钮颜色 */
    thumb,scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }
    /* 鼠标悬停时按钮颜色 */

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }
    /* 隐藏上下箭头 */
    scrollbarbutton {
        display: none !important;
    }
    /* 纵向滚动条宽度 */
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}

.a-flyBottomIn {
    -webkit-animation: flyBottomIn 1s ease;
    -o-animation: flyBottomIn 1s ease;
    animation: flyBottomIn 1s ease;
}

.a-flyBottomInS {
    -webkit-animation: flyBottomInSmall 1s ease;
    -o-animation: flyBottomInSmall 1s ease;
    animation: flyBottomInSmall 1s ease;
}

.a-flyBottomInM {
    -webkit-animation: flyBottomInMiddle 1s ease;
    -o-animation: flyBottomInMiddle 1s ease;
    animation: flyBottomInMiddle 1s ease;
}

.a-flyBottomInB {
    -webkit-animation: flyBottomInBig 1s ease;
    -o-animation: flyBottomInBig 1s ease;
    animation: flyBottomInBig 1s ease;
}

.a-flyLeftIn {
    -webkit-animation: flyLeftIn 1s ease;
    -o-animation: flyLeftIn 1s ease;
    animation: flyLeftIn 1s ease;
}

.a-flyRightIn {
    -webkit-animation: flyRightIn 1s ease;
    -o-animation: flyRightIn 1s ease;
    animation: flyRightIn 1s ease;
}

@keyframes flyTopIn {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.a-flyTopIn {
    -webkit-animation: flyTopIn 1s ease;
    -o-animation: flyTopIn 1s ease;
    animation: flyTopIn 1s ease;
}

@keyframes flyBottomIn {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyBottomInSmall {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyBottomInMiddle {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyBottomInBig {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyLeftIn {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyRightIn {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.layui-layer-dialog .layui-layer-content{
    word-break:break-word !important;
}
/*#layui-layer1{*/
    /*left: 50% !important;*/
    /*top: 50% !important;*/
    /*transform: translate(-50%,-50%) !important;*/
/*}*/










