.headerBox {
  width: 100%;
  min-width: 1200px;
  height: 75px;
  background: url("../../images_new/header.png") center;
}
.headerBox .topBarBox {
  padding: 0 30px;
  height: inherit;
  line-height: 75px;
  z-index: 2;
}
.headerBox .topBarBox .website-logo {
  position: relative;
  height: inherit;
  float: left;
}
.headerBox .topBarBox .website-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.headerBox .topBarBox .active {
  color: #fff !important;
}
.headerBox .topBarBox a:hover {
  color: #fff;
}
.headerBox .topBarBox .white-color a {
  color: #fff;
}
.headerBox .topBarBox .header .title-left {
  padding-left: 100px;
}
.headerBox .topBarBox .header dl dt {
  float: left;
  padding: 0 15px;
  color: #8D9ACE;
}
.headerBox .topBarBox .header .nav-item {
  font-size: 16px;
}
.headerBox .topBarBox .header .vote-list {
  position: relative;
}
.headerBox .topBarBox .header .vote-list .vote-box {
  position: absolute;
  top: 75px;
  display: none;
  z-index: 20;
}
.headerBox .topBarBox .header .vote-list .vote-box .vote-list {
  width: 130px;
  background-color: #4e5368;
}
.headerBox .topBarBox .header .vote-list .vote-box .vote-list li {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: lighter;
  border-bottom: solid 1px #676b7f;
}
.headerBox .topBarBox .header .vote-list .vote-box .vote-list li a {
  color: #fff;
}
.headerBox .topBarBox .header .vote-list:hover .vote-box {
  display: block;
}
.headerBox .topBarBox .header .title-nav {
  position: relative;
}
.headerBox .topBarBox .header .title-nav i {
  color: #5A6CB1;
  cursor: pointer;
}
.headerBox .topBarBox .header .title-nav .center-line {
  padding: 0;
}
.headerBox .topBarBox .header .language .language-box {
  position: absolute;
  display:none;
  width: auto;
  right: 0px;
  z-index: 999;
}
.headerBox .topBarBox .header .language .language-box ul {
  width: 93px;
  background-color: #4e5368;
}
.headerBox .topBarBox .header .language .language-box ul li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: lighter;
  color: #fff;
  border-bottom: solid 1px #676b7f;
  cursor: pointer;
  text-align: center;
}
.headerBox .topBarBox .header .language:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border: 1px solid;
  border-color: #8D9ACE #8D9ACE transparent transparent;
  top: 33px;
  right: 0;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}
/*.headerBox .topBarBox .header .language:hover .language-box {
  display: block;
}*/
.headerBox .topBarBox .header .language:hover:after {
  border: 1px solid;
  border-color: transparent #8D9ACE #8D9ACE transparent;
}
.headerBox .topBarBox .header .assets-header dt {
  position: relative;
}
.headerBox .topBarBox .header .assets-header dt .assets-img {
  float: left;
  margin: 25px 9px 0 0;
}
.headerBox .topBarBox .header .assets-header dt .assets-header-box {
  position: absolute;
  display: none;
  z-index: 99;
}
.headerBox .topBarBox .header .assets-header dt .assets-header-box ul {
  width: 168px;
  background-color: #4e5368;
}
.headerBox .topBarBox .header .assets-header dt .assets-header-box ul li {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: lighter;
  color: #fff;
  border-bottom: solid 1px #676b7f;
}
.headerBox .topBarBox .header .assets-header dt .assets-header-box ul li .assets-item-img {
  float: left;
  margin: 10px 6px 0 12px;
}
.headerBox .topBarBox .header .assets-header dt:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border: 1px solid;
  border-color: #8D9ACE #8D9ACE transparent transparent;
  top: 33px;
  right: 0;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}
.headerBox .topBarBox .header .assets-header dt:hover .assets-header-box {
  display: block;
}
.headerBox .topBarBox .header .assets-header dt:hover:after {
  border: 1px solid;
  border-color: transparent #8D9ACE #8D9ACE transparent;
}
.headerBox .topBarBox .header .assets-header .user {
    padding-right: 20px;
    padding-left: 20px;
}
.headerBox .topBarBox .header .assets-header .user .assets-img {
  margin-right: 0;
}
.headerBox .topBarBox .menu {
  position: absolute;
  top: 20px;
  right: -10px;
  width: 26px;
  height: 30px;
}
.headerBox .topBarBox .menu:before {
  top: 5px;
}
.headerBox .topBarBox .menu span {
  top: 14px;
}
.headerBox .topBarBox .menu:after {
  bottom: 5px;
}
.headerBox .topBarBox .menu:before,
.headerBox .topBarBox .menu:after,
.headerBox .topBarBox span {
  position: absolute;
  content: "";
  background: #ffe100;
  height: 2px;
  width: 100%;
  -webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s linear;
  transition: opacity 0.4s linear, -webkit-transform 0.4s linear;
  -o-transition: transform .4s linear, opacity .4s linear;
  transition: transform .4s linear, opacity .4s linear;
  transition: transform 0.4s linear, opacity 0.4s linear, -webkit-transform 0.4s linear;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.headerBox .topBarBox .menu-open:before {
  -webkit-transform: rotate(45deg) translate(1px, -1px);
  -ms-transform: rotate(45deg) translate(1px, -1px);
  transform: rotate(45deg) translate(1px, -1px);
}
.headerBox .topBarBox .menu-open span {
  opacity: 0;
}
.headerBox .topBarBox .menu-open:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.footerBox {
  width: 100%;
  min-width: 1200px;
  background-color: #353948;
}
.footerBox .footer {
  height: 162px;
  padding: 0 30px;
}
.common-footer{
  position: absolute;
  bottom: 0px;
  clear: both;
  width: 100%;
}
.footerBox .footer .footerNav {
  padding-top: 30px;
}
.footerBox .footer .footerNav ul,
.footerBox .footer .footerNav menu,
.footerBox .footer .footerNav dir {
  -webkit-padding-start: 0;
}
.footerBox .footer .footerNav li {
  float: left;
}
.footerBox .footer .footerNav .footer-left {
  padding-left: 10px;
}
.footerBox .footer .footerNav .footer-left a {
  display: inline-block;
  font-size: 14px;
  padding: 0 20px;
  color: #aaa;
}
.footerBox .footer .footerNav .footer-left a:hover {
  color: #fff;
}
.footerBox .footer .footerNav .footer-right {
  float: right;
  padding-right: 20px;
}
.footerBox .footer .footerNav .footer-right img {
  padding: 0 10px;
}
.footerBox .footer .line {
  height: 0;
  border-bottom: solid 1px #525665;
  margin-top: 22px;
}
.footerBox .footer .footer-below {
  font-size: 12px;
  color: #aaa;
  margin-top: 36px;
}
.footerBox .footer .footer-below .copyright {
  float: left;
  padding-left: 27px;
}
.footerBox .footer .footer-below .time {
  float: right;
  padding-right: 130px;
  color: #aaa;
}
.footerBox .footer .footer-below .time .num-color {
  color: #fff;
}
label[name="languageName"]{display: inline-block;width: auto;}
.headerBox .topBarBox .header .assets-header dt .assets-header-box-user{right:-107px;position: absolute;z-index: 999;}

.footerBox{
  height: 287px;
  overflow: hidden;
}
.footerBox .footer-new{
  height: 172px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  height: 172px;
  margin-top: 65px;
}
.footer-container .footer-left p{
  font-size: 14px;
  color: #fff;
}
.footer-container .footer-left p.exchage{
  margin-top: 24px;
}
.footer-container .footer-left p.copyRight{
  margin-top: 68px;
}
.footer-right-new p.contact{
  font-size: 16px;
  color: #fff;
}
.footer-right-new p.email{
  font-size: 14px;
  color: #fff;
}
.footer-right-new ul li{
  float: left;
}
.footer-right-new .footer-right{
  padding:10px 0px;
}
.footer-container .footer-middle{
  display: flex;
  justify-content: space-between;
}
.footer-middle div p{
  font-size: 16px;
  color: #fff;
  
}
.footer-middle div ul{
  margin-top: 30px;
}
.footer-middle div ul li{
  line-height: 25px;
}
.footer-middle div ul li a{
  color: #707179;
}
.footer-middle .middle{
  margin-left: 57px;
  margin-right: 57px;
}

