*{margin: 0;padding:0}
.nav{display: flex;width: 100%;justify-content: space-between;height: 44px;line-height: 44px;background:#1f2332;padding:0px 15px;}
.nav img{width: 59px;height: 15px;margin-top: 14px;}
.nav div{font-size:14px;color:#616fa4; }
.banner{width: 100%;height: 148px;text-align: center;background: url("../../img/banner@2x.png") no-repeat;background-size: cover;}
.banner p:nth-child(1){
    padding-top: 43px;
    font-size:24px;
    color:#00fffc;
}
.banner p:nth-child(2){
    font-size:14px;
    color:#ffffff;
}
.new-ico-container{
    background: #2b3457 !important;
}
.self-balance{
    background: #495584 !important;
}
.sico{
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    background: #2b3457;
    padding-bottom: 14px;
}
.sico p:nth-child(1){
    font-size:30px;
    color:#00fffc;
    margin-top:25px;
    padding-bottom: 21px;
}
.sico p:nth-child(2){
    font-size:14px;
    color:#00fffc;
}
.sico p:nth-child(3){
    font-size:13px;
    color:#ffffff;
    margin-top: 20px;
    text-align: justify;
    padding:0 10px;
}
.token-evalution{
    padding-bottom: 14px;
}
.ffcoin{
    background:#2b3457 !important;
}
.antibreak{
    width:100%;
    height: auto;
    text-align: center;
    background:#495584;

}
.antibreak img{
    /*width: 50.6%;*/
    height: 160px;
}
.antibreak p{
    font-size:12px;
}
.buyingCoin{
    height: auto;
    padding-bottom: 14px;
    width: 100%;
    background:#2b3457;
}
.buyingCoin p{
    font-size:12px;
}
.blockchian p{
    font-size:12px;
}
.blockchian{
    height: auto;
    width:100%;
    background:#495584;
}
.download-footer{
    width: 100%;
    height: 59px;
    display: flex;
    background:#1f2332;
    justify-content: space-between;
    position: relative;
    position: fixed;
    bottom:0px;
}
.download-footer img{
   height: 15px;
    margin:20px 0 24px 15px;
}
.download-footer span{
    font-size:12px;
    color: #fff;
    margin:11px 7px 11px 20px;
}
.download-footer button{
    width:81px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size:15px;
    background:#5a6cb1;
    border-radius:4px;
    margin:12px 15px 11px;
    padding:6px;
}
.close-download{
    position: absolute;
    top:-20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../img/shutdown@2x.png") no-repeat;
    background-size: cover;
}
.download-footer div p{
    color: #fff;

}
.download-footer div{
    padding-top:10px;
}
a[name='myInvitation']{color: #fff;}
.real-time p img{
    width: 159px;
    height: 142px;
}
.real-time p:nth-child(1){
    font-size:14px;
}
.token-evalution  p:nth-child(1){
    font-size:16px;

}