*{margin: 0;padding: 0;}
html,body{height:100%;}
.wrapper{
    height: 100%;
    width:100%;
}
.wrapper-inner{display: none;}
.phone-style{display: block;}
.common-header{display: none}
.wrapper-inner{width: 100%;display: none;}
.phone-style{
    height: 100%;
}
.phone-body{height: 100%;background: #1f2332;width: 100%;}
.phone-register{
    width: 100%;
    background:#5a6cb1;
    border-radius:4px;
    margin-top: 172px;
    outline: none !important;
    border: none;
    cursor: pointer;
    height: 44px;
    color: #000;
    font-size:15px;
    color:#ffffff;
    text-align:center;
}
.phone-body-content{
    width: 70%;
    margin: 0px auto;
    padding-top:90px;
    text-align: center;
}
.phone-body-content img{
    width: 129px;
    height: 33px;
    margin-bottom: 14px;
}
.phone-body-content p{
    font-size:16px;
    color: #fff;
    margin-top:20px;
}
.phone-body-content p.p-second{
    font-size:24px;
}
.setPageDiv{
    display: none;
}
