*{margin:0;padding:0}
/*html,body,.big-container{height: 100%;background:#1f2332;}*/
html,body{height: 100%;}
.wrapper{background: #1f2332;}
.big-container{height: 100%}
.common-header,.common-footer{display: none;}
.invite-msg{width: 100%;background: none;}
.setPageDiv{padding-left:0px;}
.slogan{width: 100%;display: none;}
.nav{display: flex;width: 100%;justify-content: space-between;height: 44px;line-height: 44px;background:#1f2332;padding:0px 15px;}
.nav img{width: 59px;height: 15px;margin-top: 14px;}
.nav div{font-size:14px;color:#616fa4; }
.invite-code-qrcode{display: none;}
.invite-link-copy{width: 100%;}
.invite-msg-nav{display: none;}
.invite_content{background:#1f2332;}
.invite-msg{margin-top:0px;}
.invite-code-info .ml{margin-left: 15px;}
.invite-code-copy{width: 100%;}
.invitecode-content{width:92.5%;}
.invitecode-content .fl{width: 71%;}
.invite-code-input,.invite-link-input{width: 100%;height: 44px;background: #222637;color: #fff;border:none;}
.invite-code-copy-button,.invite-link-copy-button   {width: 90px;height: 44px;background:#6372ac;box-shadow:inset 0 0 0 0 #1f2332;display: inline-block;}
.invite-code-info{height: 208px;background:rgba(141,165,255,0.11);}
.invite-code-copy-button{display: none}
.invite-code-phone{display: block}
.invite-link-copy-button{display: none;}
.invite-link-phone{display: block}
.invite-code-copy{padding-top:15px;}
#invited_list_template{display: none;}
.invite-table-phone{display: none;}
.swiper-content img{display: none}
.swiper-content{height: 148px;width: 100%;background: url("../../img/banner@2x.png") no-repeat;background-size: cover;}
.swiper-content p{text-align: center;}
.swiper-content p:nth-child(1){
    font-family:Impact;
    font-size:20px;
    color:#00fffc;
    padding-top:60px;
}
.swiper-content p:nth-child(2){
    font-family:ArialMT;
    font-size:14px;
    color:#ffffff;
}
.invite-rulls{
    color:#aaaaaa;
    padding:10px 14px;
}
.invite-msg-nav-phone{
    display: inline-block;
    border-bottom: none;
    color:#aaaaaa ;
    font-size: 16px;
}
a[name='myInvitation']{color: #fff;}
.swiper-content p:nth-child(1){
    display: block;
}
.swiper-content p:nth-child(2){
    display: block;
}
.invite_wrapper{
    height: 100%;
}
p[name='yqzyImage3']{
    color: #fff;
    display: block;
}
.codeDescription{
    display: block;
    color: #aaa;
    font-size:14px;
}
.yqzyRegistrationLink{
    display: block;

}
.linkdetail{
    color: #aaa;
    font-size:14px;
}
.setPageDiv{
    display: none;
}