html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.big-container{
    height: 100%;
}
.phone_wrapper {
    width: 100%;
    background: #e9ebf1;
    padding-bottom: 177px;
    overflow: hidden;
}
.container{
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100%;
}

em, i {
    font-style: normal;
}

.phone_content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.phone_title {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #e4adac;
    padding-left: 20px;
}

.phone_nav {
    padding: 20px 0px;
    display: inline-block;
    color: #353948;
}

.phone_nav > a {
    color: #353948;
}

.phone-msg {
    min-height: 553px;
    background: #fff;
}

.phone-msg-nav {
    height: 60px;
    width: 1157px;
    margin: 0 auto;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
    color: #333;
}

.phone-input-group { /*width:755px;*/
    height: auto;
    margin: 95px 0 0 160px
}

.phone-input-group ul > li > span.phone-span-item {
    display: inline-block;
    width: 245px;
    color: #888888;
    text-align: right;
    padding-right: 10px;
}

.phone-input-group ul li input {
    width: 509px;
    height: 42px;
    border: 1px solid #8d9ace;
    padding-left: 10px;
}

.phone-input-group form ul li.phone-li-item {
    margin-top: 25px;
    position: relative;
}

.phone-submit {
    display: inline-block;
    width: 509px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    background: #5a6cb1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-left: 245px;
}

.phone-input-group ul li input.smsCode {
    width: 370px;
}

.phone-input-group ul li .phone-sms {
    border-radius: 0px;
    margin-left: -1px;
    width: 139px;
    background: #8d9ace;
    height: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    color: #fff;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 14px;
}

.chage-phone-group {
    margin: 0px 0 0 212px
}

.change-phone-title {
    text-align: center;
    padding: 45px 0px;
    color: #6878b6;
    font-size: 14px;
}

.chage-phone-group form ul li.change-phone-first {
    margin-top: 0px;
}

.chage-phone-group form ul li.change-phone-last {
    text-align: center;
    color: #6878b6;
    font-size: 12px;
}

.emailInput {
    background: url(../../../img/mailBox.png) no-repeat center left 15px;
}

.phone-input-group ul li input.emailInput {
    padding-left: 50px;
}

.security-left, .security-right {
    width: 593px;
    height: 164px;
    background: #fff;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.security-left-title {
    font-weight: bold;
    height: 49px;
    line-height: 49px;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-left: 18px;
}

.security-img {
    margin: 15px 0 14px 35px;
}

.security-msg {
    width: 339px;
    margin-right: 78px;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.security-bottom ul {
    width: 517px;
    margin: 6px auto;
}

.security-bottom ul li {
    line-height: 48px;
}

.security-bottom ul li span {
    color: #666;
    font-size: 14px;
}

.security-bottom ul li a {
    color: #8D9ACE;
    font-size: 14px;
}

.security-bottom ul li a:hover {
    color: #5A6CB1;
}

.security-bottom ul li span em {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-left: 5px;
    background: url(../../img/ts@2x.png) no-repeat center center;
}

.security-nav {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
}

.security-nav-title {
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    color: #333;
    padding-left: 18px;
}

.security-table tr td {
    font-size: 12px;
    color: #888;
}

.security-table tr td:nth-child(1) {
    font-size: 14px;
    color: #666666;
    width:190px !important;
}

.security-table tr td:nth-child(4) {
    color: #8D9ACE;
}

.security-table tr:nth-child(3) td:nth-child(1) {
    width: 100%;
    font-size: 14px;
    color: #666;
}

.security-table tr td:nth-child(4) span {
    display: inline-block;
    width: 110px;
    height: 28px;
    border: 1px solid #8D9ACE;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.security-table-span {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 12px;
}

.security-body {
    height: 471px;
    width: 100%;
    background: #fff;
    margin-top: 15px;
}

.security-body-title {
    height: 50px;
    line-height: 49px;
    border-bottom: 1px solid #ddd;
}

.security-body-title ul li {
    float: left;
    cursor: pointer;
    padding: 0px 10px;
    margin-left: 77px;
}

/*.security-body-title ul li:after{content: '';display: inline-block;height: 2px;width:100%;position:relative;top:-31px;border-bottom: 1px solid #5A6CB1;}*/
.security-body-title ul {
    padding-left: 22px;
}

.security-body-title ul li:nth-child(1) {
    margin-left: 10px;
}

.li-bottom-line {
    border-bottom: 2px solid #5A6CB1;
    color: #5A6CB1;
}
#security-item-2,#security-item-3,#security-item-4{
    margin-top:-16px;
}
.eachDiv {
    display: none;
}

.eachDivDefault {
    display: block;
}

.security-local-history tr td {
    border-bottom: 1px solid #ddd;
}

.security-local-history thead th {
    text-align: right;
}

.security-local-history thead th:nth-child(1) {
    text-align: left;
}

.security-local-history thead th:nth-child(2) {
    text-align: center;
}

.security-local-history tbody tr td {
    text-align: right;
    color: #333;
    font-size: 12px;
}

.security-local-history tbody tr td:nth-child(1) {
    text-align: left;
}

.security-local-history tbody tr td:nth-child(2) {
    text-align: center;
}

.security-local-history thead th {
    color: #888888;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.security-local-history tbody tr td:nth-child(5) {
    color: #27A781;
}

.security-setting-history tbody tr td:nth-child(2) {
    text-align: left;
}

.security-setting-history thead th:nth-child(2) {
    text-align: left;
}

.google-title {
    padding: 19px 43px 23px 43px;
    font-size: 12px;
}

.google-step {
    margin: 0 20px; /*border:1px solid #8D9ACE;*/
}

.google-step-header ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid #8D9ACE;
}

.google-step-header ul li {
    text-align: center;
    cursor: pointer;
    color: #5A6CB1;
    font-size: 14px;
    flex: 1;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #8D9ACE;
}

.google-step-header ul li:nth-child(4) {
    border: none;
}

.google-step-header ul li.google-current-step {
    background: #5A6CB1;
    color: #fff;
}

.google-step-title {
    padding: 30px 390px 25px 390px;
    text-align: center;
}

.google-step-body {
    border: 1px solid #8D9ACE;
    border-top: none;
    min-height: 312px;
}

.google-step-body-content {
    display: flex;
    justify-content: space-between;
}

.google-step-body-content > div {
    flex: 1;
    height: 100%;
}

.google-step-body-introduction {
    color: #333;
    font-size: 12px;
    width: 390px;
    margin-left: 109px;
    margin-top: 20px;
}

.google-step-body-title {
    color: #5A6CB1;
    font-size: 16px;
    text-align: center;
}

.google-step-body-small {
    display: inline-block;
    width: 35px;
    margin-left: 20px;
    height: 35px;
    background: url(../../img/erweima-tubiao.png) no-repeat center center;
}

.google-step-body-download {
    margin: 22px 0 18px 189px;
    height: 105px;
}

.google-step-body-right .google-step-body-introduction {
    width: 468px;
}

.google-next-step div:nth-child(2) {
    float: right;
}

.google-next-step-describe {
    font-size: 12px;
    color: #333;
    padding-right: 15px;
}

.google-next-step {
    padding: 24px 0px;
}

.google-next-step-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    font-size: 12px;
    background: #8D9ACE;
    color: #fff;
}

/*#security-item-2{display: none;}
#security-item-3{display: none;}
#security-item-4{display: none;}*/
.google-step2-title {
    color: #333;
    font-size: 16px;
    text-align: center;
    padding: 42px 320px 36px 320px;
}

.google-step-content-2 {
    border: 1px solid #8D9ACE;
    border-top: none;
}

.google-step2-body {
    width: 1111px;
    margin: 0 auto;
    background: #F3F3F3;
    margin-bottom: 48px;
}

.google-step2-body img {
    padding: 30px 40px 30px 60px;
}

.google-step2-body .fl p:nth-child(1) {
    margin-top: 30px;
    color: #333;
    font-size: 14px;
}

.google-step2-body .fl p:nth-child(2) {
    margin-top: 33px;
    color: #333;
    font-size: 14px;
}

.google-step2-body .fl p:nth-child(3) {
    margin-top: 14px;
    color: #5A6CB1;
    font-size: 18px;
}

.google-next-step2 {
    padding: 24px 0px;
}

.google-key-img-div {
    position: relative;
}

.google-key-img-text {
    position: absolute;
    left: 70px;
    top: 80px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.google-step3-body-img {
    width: 300px;
    height: 172px;
}

.google-step3-body .fl p:nth-child(1) {
    margin-top: 60px;
}

.google-step3-body .fl p:nth-child(2) {
    font-size: 14px;
    color: #DC382C;
    white-space: pre-wrap;
    width: 623px;
}

.el-form-input {
    display: inline-block;
}

#google-step-content-4 .google-step2-body {
    background: #fff;
}

.el-form-item {
    margin-top: 13px;
}

.el-form-item-first {
    margin-top: 0px;
}

.el-form-input input {
    padding: 0 15px;
    border: 1px solid #8D9ACE;
}

.google-step4-body form div label:nth-child(1) {
    width: 219px;
    text-align: right;
    display: inline-block;
}

.google-step4-body form {
    margin-left: 150px;
}

.google-step4-body {
    background: #fff;
}

.google-next-step-btn:hover {
    background: #5A6CB1;
}

.showToggle-pic {
    width: 92px;
    height: 92px;
    vertical-align: text-top;
    margin-top: -20px;
    margin-left: 14px;
    display: none;
}

.trade-step {
    display: inline-block;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 40px;
    color: #5A6CB1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #5A6CB1;
}

.txt-center {
    text-align: center;
}

.trade-title {
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.trade-title div:nth-child(2) {
    margin-left: 64px;
}

.trade-title div:nth-child(1) {
    margin-left: 437px;
}

/*.trade-title div p:nth-child(2){margin-top: 15px;}*/
.trade-title div p.step-p1 {
    margin-top: 15px;
    width: 140px;
}

.trade-title div p.step-p2 {
    margin-top: 15px;
    width: 176px;
}

.trade-after:after {
    content: '';
    display: inline-block;
    height: 3px;
    border: 1px solid;
    position: absolute;
    left: 530px;
    top: 40px;
    background: #bdc4e0;
    color: #bdc4e0;
    width: 176px;
}

.trade-before:after {
    content: '';
    display: inline-block;
    height: 3px;
    border: 1px solid;
    position: absolute;
    left: 530px;
    top: 40px;
    background: #5A6CB1;
    color: #5A6CB1;
    width: 176px;
}

.trade-title .trade-gray {
    color: #e6e9f3;
    border: 2px solid #bdc4e0;
}

.trading-password-grop {
    margin: 60px 0 0 157px;
}

.trading-next-btn {
    margin-top: 38px;
}

.trading-content-two {
    display: none;
}

#tradingPass .tradingShow {
    display: block;
}

.phone-input-group form ul li.trading-next-step {
    margin-top: 38px;
    padding-bottom: 20px;
}

.trade-title .trade-highlight {
    color: #5A6CB1;
    border: 2px solid #5A6CB1;
}

/*身份验证*/
.authen-title {
    height: auto;
    line-height: 1.5;
    font-size: 12px;
    padding: 15px 20px;
}

.authen-desc {
    color: #5A6CB1;
    font-size: 14px;
    text-align: center;
    padding: 50px 0px;
}

.authen-group {
    margin: 0px 0 0 195px;
}

.phone-input-group ul li input.authen-radio {
    width: 22px;
    height: 22px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.authen-group form ul li.authen-li-first {
    margin-top: 0px;
}

.label-radio {
    margin-left: 20px;
    display: inline-block;
}

.label-card {
    margin-left: 22px;
    margin-right: 30px;
}

.label-margin {
    margin-left: 137px;
}

.label-left {
    margin-left: 43px;
}

.authen-group ul li input {
    border: 1px solid #ccc;
}

.authen-group ul li select {
    width: 510px;
    height: 42px;
    border: 1px solid #ccc;
}

.identity-card {
    width: 994px;
    margin: 0 auto;
    margin-top: 89px;
    display: flex;
    justify-content: space-between;
}

.identity-card-item {
    width: 304px;
    min-height: 191px;
    position: relative;
}

.identity-card-item p {
    text-align: center;
    font-size: 18px;
}

.identity-card-item ul li {
    color: #272C3F;
    font-size: 12px;
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: 0px;
}

.identity-card-item ul.authen-picture-standard li {
    list-style: none;
}

.identity-card-item ul.authen-picture-standard li em {
    display: inline-block;
    width: 17px;
    height: 14px;
    vertical-align: text-bottom;
    background: url(../../img/gouxuan.png) no-repeat;
}

.identity-card-item ul.authen-picture-standard li em.em2 {
    margin-left: 10px;
}

.authen-picture-standard {
    margin-top: 27px;
}

.identity-submit {
    width: 260px;
    height: 42px;
    background: #5A6CB1;
    margin-left: 0px;
}

.identity-btn-content {
    text-align: center;
    margin-top: 63px;
    padding-bottom: 110px;
}

/*.identityCard-one{height:191px;}
.identityCard-two{height:191px;}
.identityCard-three{height:191px;}*/
.identity-card-item div.identityCard-one,div.identityCard-two,div.identityCard-three {
    cursor: pointer;
    height: 191px;
    position: relative;
}

.identity-card-item div img {
    width: 100%;
}

.identity-base-img {
    float: left;
}

.identity-hover-img {
    position: relative;
    top: -189px;
    /* display: none; */
}

.identity-underReview p {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-top: 108px;
}

.identity-underReview p em {
    display: inline-block;
    width: 35px;
    vertical-align: text-bottom;
    height: 35px;
    margin-right: 14px;
    background: url(../../img/shenhezhong.png) no-repeat;
}

.identity-underReview .identity-underReview-img {
    margin-top: 79px;
}

.identity-nopass p em {
    background: url(../../img/weitongguo.png) no-repeat;
}

.identity-nopass .identity-reason {
    margin-left: 94px;
    font-size: 14px;
    color: #333;
    margin-top: 36px;
    text-align: left;
}

.identity-nopass {
    width: 707px;
    margin: 0 auto;
}

.identity-nopass .identity-reason-detail {
    margin-left: 94px;
    font-size: 14px;
    color: #DC382C;
    text-align: left;
    margin-top: 25px;
}

.identity-nopass .identity-reason-pic {
    margin-top: 0px;
}

.identity-reason-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 510px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.identity-btn-nopass {
    padding-bottom: 118px;
}

.nopass-problem {
    text-align: center;
    font-size: 12px;
    color: #333;
    padding-bottom: 15px;
}

.identity-approved p em {
    background: url(../../img/tongguo.png) no-repeat;
}

.passed-msg ul li span {
    font-size: 16px;
    color: #333;
}

.passed-msg ul li label {
    width: 90px;
    text-align: right;
    font-size: 14px;
    color: #888;
    display: inline-block;
}

.passed-msg {
    text-align: center;
}

.passed-country {
    margin-left: -68px;
}

.passed-name {
    margin-left: -7px;
}

input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 20px;
    height: 20px;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    text-indent: .15em;
    line-height: 1;
}

input[type="radio"]:checked + label::before {
    background-color: #5A6CB1;
    border: 1px solid #5A6CB1;
    background-clip: content-box;
    padding: .2em;
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/*验证提示信息显示位置*/
.phone-li-item label.error {
    display: block;
    position: absolute;
    left: 247px;
    top: 45px;
    color: #E30000;
    font-size: 12px;
}

#mobile-number-error {
    left: 0px;
}

/*.common-footer{position: absolute;bottom: 0px;width: 100%;}*/
.identity-card-item input[type=file] {
    width: 100%;
    position: absolute;
    left: 0px;
    height: 100%;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.order-content div {
    display: none;
}

.order-content div:target {
    display: block;
}

.openOrders tbody tr td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
    color: #333;
}

.openOrders thead tr th {
    line-height: 35px;
    border-bottom: 1px solid #ddd;
    color: #888;
    font-size: 12px;
    text-align: left;
}

.openOrders thead tr th:nth-child(4) {
    width: 98px;
    text-align: center;
}

.openOrders tbody tr td:nth-child(4) {
    text-align: center;
}

.openOrders thead tr th:nth-child(9) {
    text-align: right;
}

.openOrders tbody tr td:nth-child(9) {
    text-align: right;
}

.openOrders thead tr th:nth-child(8) {
    text-align: center;
}

.openOrders tbody tr td:nth-child(8) {
    text-align: right;
}

.cancel {
    display: inline-block;
    width: 91px;
    cursor: pointer;
    line-height: 29px;
    text-align: center;
    border: 1px solid #ccc;
}

#security-item-2 .openOrders thead tr th {
    text-align: left;
}

#security-item-2 .openOrders tbody tr td {
    text-align: left;
}

#security-item-2 .openOrders thead tr th:nth-child(11) {
    text-align: right;
}

#security-item-2 .openOrders tbody tr td:nth-child(11) {
    text-align: right;
}

#security-item-2 .openOrders thead tr th:nth-child(4) {
    width: 70px;
    text-align: center;
}

#security-item-2 .openOrders tbody tr td:nth-child(4) {
    width: 70px;
    text-align: center;
}

.hide {
    display: none;
}

#security-item-3 .openOrders thead tr th:nth-child(4) {
    text-align: left;
    width: 145px;
}

#security-item-3 .openOrders thead tr th:nth-child(3) {
    width: 90px;
}

#security-item-3 .openOrders thead tr th:nth-child(1) {
    width: 215px;
}

#security-item-3 .openOrders thead tr th:nth-child(5) {
    width: 180px;
}

#security-item-3 .openOrders thead tr th:nth-child(6) {
    width: 102px;
}

#security-item-3 .openOrders tbody tr td:nth-child(4) {
    text-align: left;
}

#security-item-3 .openOrders tbody tr td:nth-child(8) {
    text-align: left;
    width: 108px;
}

#security-item-3 .openOrders thead tr th:nth-child(8) {
    text-align: left;
}

.onPass {
    margin-top: 0px;
}

.security-table tr td.IdVertification {
    color: #333;
    font-size: 14px;
}

.phone-input-group ul li button.gray {
    background: #cccccc;
    color: #fff;
}

#flagstrap {
    display: inline-block;
    width: 506px;
}

#flagstrap button[type="button"] {
    width: 100%;
    border-radius: 0px;
}

#flagstrap .dropdown-menu {
    width: 100%;
}

.seeDetail {
    display: inline-block;
    width: 48px;
    font-size: 14px;
}

.left-div, .right-div {
    float: left;
}

.left-div ul li {
    text-align: right;
    line-height: 25px;
}

.right-div ul li {
    text-align: left;
    width: 390px;
}

.div-container {
    margin: 0 auto;
}

.left-div {
    margin-left: 220px;
}

.headerBox .topBarBox .header .nav-item:hover {
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.uid {
    color: #888;
}

.personan-account {
    height: 70px;
    background-color: #fff;
    padding: 0px 20px;
}

.personan-account ul li {
    display: inline-block;
}

.personan-account ul li:nth-child(2) {
    float: right;
    margin-right: 474px;
}

.security-level {
    margin-top: 15px;
}

.personan-account ul li span {
    color: #888;
    font-size: 14px;
}

.personan-account > span {
    padding: 10px 0px;
    display: inline-block;
    font-weight: bold;
}

span[name='accountNumber'] {
    display: inline-block;
}
a[name='addGoolgenumber']{font-size:14px;}
/*.expin{font-weight: bold;}*/
#security-item-4 .google-step2-title{text-align: inherit;margin-left:105px;}
#layui-layer100001{width: auto !important;}
/*label[name='sfrzPassport']{margin-left:10px;}*/
.layui-layer{width:auto!important;}
.securityLevel-left{
    position: relative;
}
.password-Level{
    position: absolute;
    top: 41px;
    left: 36px;
    color: #fff;
    font-size:21px;
    display: inline-block;
    text-align: center;
    width: 73px;
}
/*上传进度条*/

.bar {
    background-image: -webkit-linear-gradient(top,#32d693 0,#32d693 100%);
    background-image: -o-linear-gradient(top,#32d693 0,#32d693 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#32d693),to(#32d693));
    background-image: linear-gradient(to bottom,#32d693 0,#32d693 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32d693', endColorstr='#32d693', GradientType=0);
    background-repeat: repeat-x;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #32d693;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress {
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f5f5f5));
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    height: 20px;
    width: 0%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    position: absolute;
    top:207px

}
.inputHide{
    height: 0;
    width: 0;
    position: absolute;
    -moz-opacity: 0;
    -webkit-opacity:0;
    opacity: 0;
    -ms-webkit:0;
}


#EmailCode-error{
    margin-top: 5px;
}