*{margin: 0;padding: 0;}
html,body,.wrapper{height: 100%;}
.common-header,.common-footer{display: none;}
.wrapper .container{min-height: 100%;min-width: 100%;position:static;height: 100%;background:#1f2332; }
.wrapper{background:#1f2332;}
.big-container{height: 100% !important;}
.wrapper .container .content{padding-top: 0px;padding-bottom: 0px;height: 100%;}
.container .content{width: 100%;}
.wrapper .container .content .tab-content .content-common .register-content{width: 90%;}
.center-level{position: static;-webkit-transform:translate(0%, 0%);transform:translate(0%, 0%);}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group input{width: 100%;background:#1f2332;padding-left: 10px;color: #fff; }
.wrapper .container .content .tab-content .content-common .register-content .register-meta .btn-same{width: 100%;}
.wrapper .container .content .tab-content{height: 100%;background:#1f2332;}
.wrapper .container .content .tab-content .content-common{padding-top: 0px;}
.wrapper .container .content .tab-content .content-common .register-content .slide{display: none;}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group{background:#1f2332; }
.wrapper .container .content .tab-content .content-common .register-content .welcome{margin-top:0px;display: none;}
.phone-55-logo img{width: 129px;height: 33px;}
.phone-55-logo{display: block;text-align: center;padding-top: 63px;padding-bottom: 72px;}
.wrapper .container .content .tab-content .content-common .register-content .register-form .form-group .left-icon{display: none;}
.wrapper .container .content .tab-content .content-common .register-content .register-meta .login{display: none;}
.yidun.yidun--light{
    width: 100% !important;
}